$primary: #F7941D;
$secondary: #1A76BC;
$white: #FFF5EE;
$pure-white: #FFF;
$black: #1B1212;
$pure-black: #000;


$breakpoint-mobile: 767px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

$margin-x-mobile: 2rem;
$margin-x-tablet: 6rem;
$margin-x-desktop: 10rem;

$margin-y-mobile: 4rem;
$margin-y-tablet: 4rem;
$margin-y-desktop: 4rem;