@import "./variables.scss";
@import "./fonts.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
// =========================================================================

body {
    background-color: $white; // Bootstrap variable for light background
    font-family: 'Roboto', sans-serif;
}


.transparent-modal .modal-content {
    background-color: transparent !important;
    border: none;
    box-shadow: none;
    width: auto;
    margin: 0 auto;
}

/* Optionally remove modal body padding */
.transparent-modal .modal-body {
    padding: 0;
}
