@import "./_variables.scss";
// =========================================================================
// VARIABLES & MIXINS
// =========================================================================

// Mixin for mobile devices (max-width: 767px)
@mixin mobile {
    @media (max-width: $breakpoint-mobile) {
        @content;
    }
}

// Mixin for tablet and up (min-width: 768px)
@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}

// Mixin for desktop and up (min-width: 1200px)
@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}

// =========================================================================
// BASE STYLES
// =========================================================================

.section-1 {
    @include mobile {
        margin-bottom: 4rem;
    }

    @include tablet {
        margin-bottom: 8rem;
    }
}

// Container for the entire app with background image
.app-container {
    background: url('@/assets/images/image_1.png') no-repeat center center fixed;
    background-size: cover;
    min-height: 80vh;
    margin: 0;
    padding: 0 0 1px 0;
}

.main-content {
    @include mobile {
        margin: $margin-y-mobile $margin-x-mobile;
    }

    @include tablet {
        margin: $margin-y-tablet $margin-x-tablet;
    }

    @include desktop {
        margin: $margin-y-desktop $margin-x-desktop;
    }
}

.text-content {
    color: $black;
    text-align: left;
    max-width: 330px;

    h1 {
        font-size: 2.7rem;
        font-weight: 900;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2rem;
        font-weight: 400;
    }
}

.larger-title {
    font-size: 3rem;
    font-weight: 900;
    color: $white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

    p {
        margin: 0;
        font-size: inherit;
        font-weight: inherit;
        line-height: 4rem;


        span {
            display: block;

        }
    }
}

.content-box {
    background: $white;
    padding: 2rem;
    border-radius: 1.4rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-right: 1px solid $secondary;
    border-bottom: 3px solid $secondary;
    text-align: center;

    p {
        font-size: 1.5rem;
        font-weight: 800;
        margin: 0.4rem 0;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }

    @include mobile {
        border: 1px solid $secondary;
        box-shadow: 0 4px 4px rgba(5, 67, 114, 1);

        p {
            font-size: 1.2rem;
            font-weight: 400;
            justify-self: left;
            margin-left: 2rem;
            opacity: 0.8;
        }

        h3 {
            font-size: 1.6rem;
            font-weight: 400;
            margin-bottom: 1rem;
            text-align: left;
        }
    }

}

.primary-button {
    background-color: $primary;
    font-weight: 300;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    border: none;

    padding: .7rem 1.4rem;
    margin: 2rem 0;
}

.secondary-button {
    background-color: $secondary;
    font-weight: 300;
    letter-spacing: 0.05rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    border: none;

    padding: .7rem 1.4rem;
    margin: 1rem 0;

    @include mobile {
        letter-spacing: 0;
    }
}

.mobile-crm {
    h2 {
        font-size: 2rem;
        font-weight: 900;
        margin-bottom: 20px;
        letter-spacing: 0.02rem;
    }

    p {
        font-size: 1.5rem;
        letter-spacing: 0.02rem;
        font-weight: 400;
        margin-bottom: 20px;
    }
}

// =========================================================================
// COMPONENT-SPECIFIC STYLES
// =========================================================================